<form onsubmit="@onClick">
    <input type="text" placeholder="Input keyword here" bind="@keyword" style="width:100%;height:52px;font-size:1.4rem;"/>
</form>

@functions {
    [Parameter]
    private Action<string> searchClicked { get; set; }

    [Parameter]
    private string keyword { get; set; }

    [Parameter]
    private Action<string> keywordChanged { get; set; }

    private void onClick() {
        Console.WriteLine($"Click event on Index");
        Console.WriteLine($"Current keyword is {keyword}");
        searchClicked(keyword);
    }
}
